<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>RegisterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUserServlet</servlet-name>
        <servlet-class>LoginUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutUserServlet</servlet-name>
        <servlet-class>LogoutUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertPlantServlet</servlet-name>
        <servlet-class>insertPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPlantServlet</servlet-name>
        <servlet-class>InsertPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMemberServlet</servlet-name>
        <servlet-class>GetMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMemberServlet</servlet-name>
        <servlet-class>DeleteMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPlantServlet</servlet-name>
        <servlet-class>GetPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlantServlet</servlet-name>
        <servlet-class>DeletePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPlantServlet</servlet-name>
        <servlet-class>EditPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPLantInfoServlet</servlet-name>
        <servlet-class>GetPLantInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserProfileServlet</servlet-name>
        <servlet-class>GetUserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfileServlet</servlet-name>
        <servlet-class>UpdateUserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertFeedServlet</servlet-name>
        <servlet-class>InsertFeedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchUserFeedServlet</servlet-name>
        <servlet-class>FetchUserFeedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/RegisterUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUserServlet</servlet-name>
        <url-pattern>/LoginUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutUserServlet</servlet-name>
        <url-pattern>/LogoutUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertPlantServlet</servlet-name>
        <url-pattern>/insertPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPlantServlet</servlet-name>
        <url-pattern>/InsertPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMemberServlet</servlet-name>
        <url-pattern>/GetMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMemberServlet</servlet-name>
        <url-pattern>/DeleteMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPlantServlet</servlet-name>
        <url-pattern>/GetPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlantServlet</servlet-name>
        <url-pattern>/DeletePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPlantServlet</servlet-name>
        <url-pattern>/EditPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPLantInfoServlet</servlet-name>
        <url-pattern>/GetPLantInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserProfileServlet</servlet-name>
        <url-pattern>/GetUserProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfileServlet</servlet-name>
        <url-pattern>/UpdateUserProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertFeedServlet</servlet-name>
        <url-pattern>/InsertFeedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchUserFeedServlet</servlet-name>
        <url-pattern>/FetchUserFeedServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>N-Home.html</welcome-file>
    </welcome-file-list>
</web-app>
